:root {
    --box-1-x-offset: 20px;
    --box-2-x-offset: 40px;
    --box-3-x-offset: 60px;
    --box-4-x-offset: 80px;

    --box-1-y-offset: 20px;
    --box-2-y-offset: 40px;
    --box-3-y-offset: 60px;
    --box-4-y-offset: 80px;

    
    /* --color-1: rgb(138, 43, 226);
    --color-2: rgb(96, 29, 157);
    --color-3: rgb(54, 17, 89);
    --color-4: rgb(26, 8, 44); */
   

    --float-animation-shift: 20px;

    --theme: black;
    --color-theme: white;

    --nav-width: 100px;
    --header-height: 50px;
    
    --default-border-width: 1px;

    --default-margin: 20px;
}

body {
    margin: 0;
    background-color: var(--theme);
    color: var(--color-theme);
}