#auth-page #auth-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}

#auth-page #auth-input {
    background-color: rgb(29, 29, 29);
    border: blueviolet 1px solid;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 8px;
}

#auth-page #submit-button {
    width: fit-content;
}