button {
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

#button-on, #button-off {
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#button-on {
    background-color: rgb(25, 135, 84);
}

#button-off {
    background-color: rgb(220, 53, 69);
}

#form-container {
    font-family: Arial, Helvetica, sans-serif;
}

#form-container #form-title {
    font-size: 30px;
}

#form-container #form-input-container {
    margin-bottom: 10px;
}

#form-container .form-input {
    padding: 8px 15px;
    width: 250px;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 5px;
}

#form-container .form-button {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    margin-right: 8px;
}

#form-container #password-show-button {
    margin-left: 10px;
}

.click-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 10px 15px;
}