#add-quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px 12px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    border: var(--default-border);
}

#add-card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

#quantity-input {
    flex-grow: 1;
    min-width: 320px;
    margin-right: 10px;
    font-size: 15px;
    background-color: rgb(204, 204, 204);
    color: black;
    border: var(--default-border);
    border-radius: 8px;
    padding: 6px 5px;
}

#add-card-button {
    font-size: 16px;
    padding: 6px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

#add-close {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    padding: 4px 3px;
    background-color: var(--quaternary-color);
    color: black;
    border: none;
    border-radius: 8px;
}