#cards-container {
    display: grid;
    grid-template-columns: 140px 140px;
    row-gap: var(--default-row-gap);
    column-gap: var(--default-column-gap);
}

.card-container {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    border: 3px solid var(--ternary-color);
    background-color: var(--secondary-color);
}
.card-container:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);       
}
.card-container:hover .delete-icon {
    visibility: visible;
    pointer-events: all;
}

.card-icon {
    height: 85px;
    width: 85px;
}

.card-text {
    font-weight: bold;
}

.delete-icon-container {
    position: absolute;
    top: 1px;
    right: 1px;
    visibility: hidden;
    pointer-events: none;
}

.delete-icon {
    width: 16px;
    height: 16px;
}
.delete-icon:hover {
    opacity: 0.5;
}