body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: white;
}

button {
    margin: 0;
    padding: 0;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}

:root {
    --default-column-gap: 50px;
    --default-row-gap: 30px;

    --primary-color: #222222;
    --secondary-color: #171717;
    --ternary-color: #393939;
}