body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: white;
}

button {
    margin: 0;
    padding: 0;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}

:root {
    --main-color: black;
    --primary-color: #222222;
    --secondary-color: #171717;
    --ternary-color: #474747;
    --quaternary-color: #828282;

    --text-color: #c4c4c4;
    --highest-contrast-color: #ffffff;

    --border-thickness: 3px;
    --default-column-gap: 50px;
    --default-row-gap: 30px;
    --default-border: var(--border-thickness) solid var(--ternary-color);
    --default-hover-opacity: 0.4;
}

html[data-theme="coral"] {
    --main-color: #B6232D;
    --primary-color: #EE4A43;
    --secondary-color: #C82732;
    --ternary-color: #DC2B37;
    --quaternary-color: #ff7f50;

    --text-color: #ffbfb4;
    --highest-contrast-color: #f76a6a;
}

html[data-theme="green"] {
    --main-color: #80bc8a;
    --primary-color: #b2d7b2;
    --secondary-color: #8ac194;
    --ternary-color: #9ecca0;
    --quaternary-color: #bfdebf;

    --text-color: #ffffff;
    --highest-contrast-color: #6c9f75;
}

html[data-theme="white"] {
    --main-color: #ffffff;
    --primary-color: #f2f2f2;
    --secondary-color: #8c8c8c;
    --ternary-color: #d3d3d3;
    --quaternary-color: #dbdbdb;

    --text-color: #000000;--highest-contrast-color: #000000;
}