body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: white;
}

button {
    margin: 0;
    padding: 0;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}

:root {
    --main-color: black;
    --primary-color: #222222;
    --secondary-color: #171717;
    --ternary-color: #474747;
    --quaternary-color: #828282;

    --text-color: #c4c4c4;

    --border-thickness: 3px;
    --default-column-gap: 50px;
    --default-row-gap: 30px;
    --default-border: var(--border-thickness) solid var(--ternary-color);
}