#overlay, #error-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-overlay {
    z-index: 100;
}

#error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: var(--secondary-color);
    border: var(--default-border);
    padding: 12px 20px;
    border-radius: 15px;
}

#error-text {
    display: flex;
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 10px;
}

#error-close {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    padding: 6px 3px;
    background-color: var(--quaternary-color);
    border: none;
    border-radius: 8px;
}