.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#error-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

#add-quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 350px;
}

#quantity-input {
    flex-grow: 1;
}