#theme-selector-container {
    position: fixed; 
    display: flex;
    align-items: center;
    top: 20px;
    right: 20px;
    padding: 6px 10px;
    border-radius: 15px;
    background-color: var(--ternary-color);
    border: 3px solid var(--secondary-color);
}

#theme-name {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: var(--main-color);
}

.color-indicator {
    width: 30px;
    height: 30px;
}

#theme-options-container {
    position: absolute;
    top: 46px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: inherit;
    row-gap: 5px;
    background-color: var(--secondary-color);
    border: var(--default-border);
}

.theme-option {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.theme-option:hover {
    cursor: pointer;
    opacity: 0.8;
}