#transfer-button-container {
    height: 140px;
}

#transfer-button {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--ternary-color);
    background-color: var(--secondary-color);
}
#transfer-button:hover {
    cursor: pointer;
}

#transfer-icon {
    height: 40px;
}