#home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: calc(var(--nav-width) + var(--default-border-width));
    padding-top: var(--header-height);
}

#home-page nav {
    position: fixed;
    background-color: black;
    width: var(--nav-width);
    left: 0;
    top: 0;
    bottom: 0;
    border-right: var(--default-border-width) solid var(--color-1);
    display: flex;
    align-items: center;
}

#home-page #todos-icon {
    width: 80px;
    height: var(--default-margin);
}

#home-page header {
    position: fixed;
    background-color: var(--color-4);
    height: var(--header-height);
    left: calc(var(--nav-width) + var(--default-border-width));
    right: 0;
    top: 0;
    border-bottom: var(--default-border-width) solid var(--color-1);
}

#home-page #todos-title {
    font-size: 30px;
    margin-top: var(--default-margin);
    margin-left: var(--default-margin);
}

#home-page #todos-container {
    display: flex;
    flex-direction: column;
    margin-top: var(--default-margin);
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
}

#home-page .regular-button {
    border: none;
}

#home-page .todo-container {
    display: flex;
    flex-direction: column;
}

#home-page .todo-content-container {
    display: flex;
    align-items: center;
}

#home-page .details-button {
    font-size: 18px;    
}

#home-page .task-text {
    flex: 1;
    margin-left: 15px;
}

#home-page .date-text {
    margin-right: var(--default-margin);
}

#home-page .delete-button {
    height: 30px;
}

#home-page .trash-icon {
    height: 30px;
}

#home-page .completed-icon {
    height: 30px;
}

#home-page .details-container {
    display: flex;
}

#home-page .details-content {
    flex: 1;
}

#home-page .edit-button {
    
}

#home-page .edit-icon {
    
}