#auth-page {
    display: flex;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#auth-page #auth-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid blueviolet;
    padding: 20px 22px;
    box-shadow: 
        var(--box-1-x-offset) var(--box-1-y-offset) var(--color-1),
        var(--box-2-x-offset) var(--box-2-y-offset) var(--color-2),
        var(--box-3-x-offset) var(--box-3-y-offset) var(--color-3),
        var(--box-4-x-offset) var(--box-4-y-offset) var(--color-4);
    animation-name: float;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes float {
    0% {
        box-shadow: 
            var(--box-1-x-offset) var(--box-1-y-offset) var(--color-1),
            var(--box-2-x-offset) var(--box-2-y-offset) var(--color-2),
            var(--box-3-x-offset) var(--box-3-y-offset) var(--color-3),
            var(--box-4-x-offset) var(--box-4-y-offset) var(--color-4);
    }
    14.29%{
        box-shadow: 
            var(--box-1-x-offset) calc(var(--box-1-y-offset) - 1 * var(--float-animation-shift)) var(--color-1),
            var(--box-2-x-offset) var(--box-2-y-offset)                                          var(--color-2),
            var(--box-3-x-offset) var(--box-3-y-offset)                                          var(--color-3),
            var(--box-4-x-offset) var(--box-4-y-offset)                                          var(--color-4);
    }
    28.58% {
        box-shadow: 
            var(--box-1-x-offset) calc(var(--box-1-y-offset) - 2 * var(--float-animation-shift) ) var(--color-1),
            var(--box-2-x-offset) calc(var(--box-2-y-offset) - 1 * var(--float-animation-shift))  var(--color-2),
            var(--box-3-x-offset) var(--box-3-y-offset)                                           var(--color-3),
            var(--box-4-x-offset) var(--box-4-y-offset)                                           var(--color-4);
    }
    42.87% {
        box-shadow: 
            var(--box-1-x-offset) calc(var(--box-1-y-offset) - 1 * var(--float-animation-shift)) var(--color-1),
            var(--box-2-x-offset) calc(var(--box-2-y-offset) - 2 * var(--float-animation-shift)) var(--color-2),
            var(--box-3-x-offset) calc(var(--box-3-y-offset) - 1 * var(--float-animation-shift)) var(--color-3),
            var(--box-4-x-offset) var(--box-4-y-offset)                                          var(--color-4);
    }
    57.16%{
        box-shadow: 
            var(--box-1-x-offset) calc(var(--box-1-y-offset) - 0 * var(--float-animation-shift)) var(--color-1),
            var(--box-2-x-offset) calc(var(--box-2-y-offset) - 1 * var(--float-animation-shift)) var(--color-2),
            var(--box-3-x-offset) calc(var(--box-3-y-offset) - 2 * var(--float-animation-shift)) var(--color-3),
            var(--box-4-x-offset) calc(var(--box-4-y-offset) - 1 * var(--float-animation-shift)) var(--color-4);
    }
    71.45%{
        box-shadow: 
            var(--box-1-x-offset) var(--box-1-y-offset)                                          var(--color-1),
            var(--box-2-x-offset) calc(var(--box-2-y-offset) - 0 * var(--float-animation-shift)) var(--color-2),
            var(--box-3-x-offset) calc(var(--box-3-y-offset) - 1 * var(--float-animation-shift)) var(--color-3),
            var(--box-4-x-offset) calc(var(--box-4-y-offset) - 2 * var(--float-animation-shift)) var(--color-4);
    }
    85.71%{
        box-shadow: 
            var(--box-1-x-offset) var(--box-1-y-offset)                                          var(--color-1),
            var(--box-2-x-offset) var(--box-2-y-offset)                                          var(--color-2),
            var(--box-3-x-offset) calc(var(--box-3-y-offset) - 0 * var(--float-animation-shift)) var(--color-3),
            var(--box-4-x-offset) calc(var(--box-4-y-offset) - 1 * var(--float-animation-shift)) var(--color-4);
    }
    100%{
        box-shadow: 
            var(--box-1-x-offset) var(--box-1-y-offset) var(--color-1),
            var(--box-2-x-offset) var(--box-2-y-offset) var(--color-2),
            var(--box-3-x-offset) var(--box-3-y-offset) var(--color-3),
            var(--box-4-x-offset) var(--box-4-y-offset) var(--color-4);
    }
}

#auth-page #auth-top-container {
    display: flex;
    flex-direction: column;
}

#auth-page #auth-header {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#auth-page .auth-text {
    font-size: 20px;
}

#auth-page .error-message {
    margin-top: 20px;
    font-weight: bold;
    color: #ff0000;
}

#auth-page #dividing-line {
    background-color: blueviolet;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#auth-page #auth-method-button {
    margin-left: 16px;
}

#auth-page #submit-button, #auth-method-button {
    background-color: black;
    border: blueviolet 1px solid;
    color: white;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px blueviolet;
}

#auth-page #submit-button:hover, #auth-method-button:hover {
    opacity: 0.8;
}

#auth-page #submit-button:active, #auth-method-button:active {
    box-shadow: none;
}